.inspector-element-highlight {
  border: 2px solid red !important;
  cursor: pointer;
}

.inspector-tooltip {
  display: none;
  position: absolute;
  background-color: #444;
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  max-width: 250px;
  word-break: break-word;
  z-index: 2147483647;
  cursor: pointer;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.56);
  font-family: sans-serif;
  font-size: 14px;
}
