body {
  user-select: none;
}
.container {
  border: 2px solid green;
  padding: 5px;
}

.classic-component {
  border: 2px solid grey;
  padding: 20px 10px;
}

.pod-component {
  border: 2px solid grey;
  padding: 20px 10px;
}
