<h1 id="title" data-test-title="addon-title">Ember Tempalate Inspector</h1>
<hr>
<h2 data-test-title="application-route"> Application Route </h2>
{{#link-to "parent"}}
  Go to Route
{{/link-to}}
{{outlet}}
