<h1 id="title" data-test-title="addon-title">Ember Template Inspector</h1>
<hr>
<h2 data-test-title="application-route"> Application Route </h2>
<LinkTo @route="classic-route">
  Go to Classic Route
</LinkTo>
&nbsp;&nbsp;&nbsp;
<LinkTo @route="pod-route">
  Go to Pod Route
</LinkTo>
<br />
<br />
<br />
{{outlet}}