<h3>
  <u data-test-title="classic-route-title">
    Classic Route Template
  </u>
</h3>

<div class="container" data-test-title="container">
  <b>Container Element</b>
  <br/>
  <br/>
  <br/>
  <ClassicComponent @arg={{true}}/>
  <br/>
  <br/>
  <br/>
</div>
{{outlet}}
