<h3>
  <u data-test-title="Route-title">
    Route
  </u>
</h3>

<div class="container" data-test-title="container">
  <b>Route Container Element</b>
  <br/>
  <br/>
  <br/>
  {{my-component}}
  <br/>
  <br/>
  <br/>
</div>
{{outlet}}
